DialogueNode {
    max-width: 300px;
    min-width: 250px;
}

TextField {
    background-color: #3a3a3a;
    flex-direction: column;
    padding: 5px;
}

#unity-text-input {
    white-space: normal;
}

Port.port {
    height: auto;
}

Port TextField {
    max-width: 145px;
    min-width: 85px;
    max-height: none;
    white-space: normal;
}