.heading {
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    -unity-font-style: bold;
}

.multiline-text-field {
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.multiline-text-field Label {
    margin-bottom: 5px;
}

.multiline-text-field .unity-base-text-field__input {
    -unity-text-align: upper-left;
}
