.multiline-text-field {
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.multiline-text-field Label {
    margin-bottom: 5px;
}

.multiline-text-field .unity-base-text-field__input {
    -unity-text-align: upper-left;
}

.vector-field .unity-vector2-field__input .unity-composite-field__field {
    align-content: stretch;
}